---
import ReadMore from '../../../atoms/ReadMore.astro';

interface Props {
  step: string;
  icon: any;
  title: string;
  description: string;
}

const { step, icon: Icon, title, description } = Astro.props as Props;
---

<li class="flex-start group relative flex">
  <span class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-900" aria-hidden="true"></span>
  <div class="text-text inline-flex h-12 w-12 text-xl shrink-0 items-center justify-center p-2 font-bold rounded-xl bg-gray-900 transition-all duration-300 group-hover:bg-gray-50 group-hover:text-black">
    {step}
  </div>

  <div class="ml-6">
    {Icon && <Icon class="w-8 h-8"/>}
    <h3 class="text-xl font-bold before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
      {title}
    </h3>
  
    <ReadMore toggleName={title} text={description} />
  </div>
</li>
