---
import StepV1 from './atoms/StepV1.astro';

import { steps } from '../../../database.ts';
---

  <div class="text-foreground mx-auto md:max-w-3xl">
    <div class="text-center">
      <p class="text-sm font-bold uppercase tracking-widest">What's next?</p>
      <h2 class="mt-6 text-3xl font-bold tracking-tight sm:text-4xl lg:text-5xl">Our Process</h2>
      <p class="mx-auto mt-4 max-w-2xl text-lg font-normal lg:text-xl lg:leading-8">
        Get your website up and running in 5 easy steps.
      </p>
    </div>
    <ul class="mx-auto mt-12 grid grid-cols-1 gap-16">
      {
        steps.map(({ step, icon, title, description }) => {
          return (
            <StepV1 step={step} icon={icon} title={title} description={description} />
          );
      })}
    </ul>
  </div>

<style>
  :global(ul li:last-child span) {
    display: none;
  }
</style>