---
import { Image } from "astro:assets";
import webDesign from "../../assets/webDesign.gif";
---

<div class="bg-foreground px-6 py-14 rounded-xl relative flex flex-col gap-5">
    <Image class="bg-accent rounded-xl p-2 m-auto absolute -top-14 left-24" src={webDesign} alt="Website design icon" width={75} height={75} />
    <h3 class="text-text text-lg font-semibold">Website Design</h3>
    <p class="text-muted">
        We create custom websites tailored to your business needs, ensuring a unique online presence that stands out in the digital landscape.
    </p>
</div>