---
import Steps1 from '../components/steps/stepsV1/StepsV1.astro';
import Layout from '../layouts/Layout.astro';

import database from "../../src/database.json";
import Button1 from '../components/buttons/Button1.astro';
import Phone from '../components/icons/Phone.svg';
import Envelope from '../components/icons/Envelope.svg';
import HeartHandshake from '../components/icons/HeartHandshake.astro';

const data: Data = database;
---

<Layout>
    <section class="relative p-4 grid grid-cols-1 gap-8 md:grid-cols-2 lg:pb-48 lg:max-w-7xl lg:mx-auto">
        <div class="flex flex-col gap-8 z-10">
            <div>
                <h2 class="text-base/7 font-semibold text-accent">Ready to start?</h2>
                <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-text sm:text-5xl">Contact Us Today</p>
                <p class="mt-6 text-lg/8 text-muted">
                    At Golden Bear Digital, we provide an all-in-one website solution designed specifically for small businesses.
                    Our comprehensive subscription service covers every detail—from innovative UI/UX design and cutting-edge coding to reliable hosting, domain 
                    egistration, custom logo creation, and ongoing maintenance and support. Let our expert team manage your entire online presence so you can focus on growing
                    your business. Reach out now to transform your digital footprint and drive lasting results.
                </p>
            </div>   

            <Button1 css="before:bg-[#00BFA6] w-full px-3.5 py-2.5 text-center text-lg font-semibold lg:w-1/2 sm:px-8 sm:py-5" href="/" bg="bg-[#33CCC1]" color="text-[#EAEAEA]" borderRadius="rounded-md">
                Schedule a call
            </Button1>

            <div class="flex flex-row items-center justify-start gap-4">
                <Envelope class="text-white w-5 h-5"/>

                <div>
                    <h2 class="text-text font-bold">Email</h2>
                    <p class="text-muted">sales@goldenbeardigital.com</p>
                </div>
            </div>

            <div class="flex flex-row items-center justify-start gap-4">
                <Phone class="text-white w-5 h-5 rotate-90"/>

                <div>
                    <h2 class="text-text font-bold">Phone</h2>
                    <p class="text-muted">+1 (626) 322-1212</p>
                </div>
            </div>
        </div>

        <img src="/src/assets/rocket_white.webp" alt="rocket" class="rotate-30 mx-auto"/>

        <img src="/src/assets/section_dividers/curve.svg" alt="section divider" class="rotate-180 absolute bottom-0 left-0"/>
    </section>
    
    <section class="bg-accent px-4 pb-12 w-full max-w-7xl lg:mx-auto">
        <Steps1 stepsArray={data.steps}/>
    </section>
</Layout>

<style>
    body {
        background-color: #121212;
    }
</style>