---
import Hero from "../sections/Hero.astro";
import WhatWeDo from "../sections/WhatWeDo.astro";
import WhyWorkWithUs from "../sections/WhyWorkWithUs.astro";
import Pricing from "../sections/Pricing.astro";
import Faqs from "../sections/Faqs.astro";
---

<main class="bg-[#121212] px-4">
    <Hero />
    <WhatWeDo />
    <WhyWorkWithUs />
    <Pricing />
    <Faqs />
</main>