---
import Hero from "../sections/Hero.astro";
import WhatWeDo from "../sections/WhatWeDo.astro";
import Cta from "../sections/Cta.astro";
import WhyWorkWithUs from "../sections/WhyWorkWithUs.astro";
import Pricing from "../sections/Pricing.astro";
import Faqs from "../sections/Faqs.astro";
import ReadMore from "../components/atoms/ReadMore.astro";
---

<main class="bg-background px-4">
    <Hero />
    <WhatWeDo />
    <WhyWorkWithUs />
    <Cta />
    <Pricing />
    <Faqs />
</main>

<style is:global>
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #121212;
    }
</style>