---
import Hero from "../sections/Hero.astro";
import Pricing from "../sections/Pricing.astro";
import Faqs from "../sections/Faqs.astro";
import Services from "../sections/Services.astro";
---

<main class="bg-[#121212] px-4">
    <Hero />
    <Services />
    <Pricing />
    <Faqs />
</main>