<label class="switch">
  <input id="checkbox" type="checkbox" />
  <span class="slider">
    <div class="star star_1">
      <svg fill="currentColor" id="fi_15219414" enable-background="new 0 0 100 100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g><g transform="matrix(.957 0 0 .957 15.652 11.478)"><g><path clip-rule="evenodd" d="m34.669548-8.4613094c.1628304-.5473452.6672783-.9250927 1.2395058-.9250927s1.0766754.3777475 1.2395058.9250927c0 0 2.2686234 7.6043649 4.7001495 15.7606297 3.8745232 12.9943981 14.0393524 23.1591949 27.0337143 27.0337181 8.1562347 2.4315262 15.7605972 4.7001457 15.7605972 4.7001457.5473785.1628342.9250946.6672783.9250946 1.2395096 0 .5722275-.3777161 1.0766716-.9250946 1.2395058 0 0-7.6043625 2.2686234-15.7605972 4.7001495-12.9943619 3.8745193-23.1591911 14.0393524-27.0337143 27.0337143-2.4315262 8.1562347-4.7001495 15.7605972-4.7001495 15.7605972-.1628304.5473785-.6672783.9250946-1.2395058.9250946s-1.0766754-.3777161-1.2395058-.9250946c0 0-2.2686234-7.6043625-4.7001495-15.7605972-3.8745213-12.9943619-14.0393543-23.159195-27.033716-27.0337144-8.1562309-2.4315262-15.7605953-4.7001495-15.7605953-4.7001495-.5473795-.1628342-.9250927-.6672783-.9250927-1.2395058 0-.5722313.3777132-1.0766754.9250927-1.2395096 0 0 7.6043644-2.2686195 15.7605953-4.7001457 12.9943619-3.8745232 23.1591969-14.03932 27.0337162-27.0337181 2.431526-8.1562649 4.7001493-15.7606296 4.7001493-15.7606296z" fill-rule="evenodd"></path></g></g></g></svg>
    </div>

    <div class="star star_2">
      <svg fill="currentColor" id="fi_15219414" enable-background="new 0 0 100 100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g><g transform="matrix(.957 0 0 .957 15.652 11.478)"><g><path clip-rule="evenodd" d="m34.669548-8.4613094c.1628304-.5473452.6672783-.9250927 1.2395058-.9250927s1.0766754.3777475 1.2395058.9250927c0 0 2.2686234 7.6043649 4.7001495 15.7606297 3.8745232 12.9943981 14.0393524 23.1591949 27.0337143 27.0337181 8.1562347 2.4315262 15.7605972 4.7001457 15.7605972 4.7001457.5473785.1628342.9250946.6672783.9250946 1.2395096 0 .5722275-.3777161 1.0766716-.9250946 1.2395058 0 0-7.6043625 2.2686234-15.7605972 4.7001495-12.9943619 3.8745193-23.1591911 14.0393524-27.0337143 27.0337143-2.4315262 8.1562347-4.7001495 15.7605972-4.7001495 15.7605972-.1628304.5473785-.6672783.9250946-1.2395058.9250946s-1.0766754-.3777161-1.2395058-.9250946c0 0-2.2686234-7.6043625-4.7001495-15.7605972-3.8745213-12.9943619-14.0393543-23.159195-27.033716-27.0337144-8.1562309-2.4315262-15.7605953-4.7001495-15.7605953-4.7001495-.5473795-.1628342-.9250927-.6672783-.9250927-1.2395058 0-.5722313.3777132-1.0766754.9250927-1.2395096 0 0 7.6043644-2.2686195 15.7605953-4.7001457 12.9943619-3.8745232 23.1591969-14.03932 27.0337162-27.0337181 2.431526-8.1562649 4.7001493-15.7606296 4.7001493-15.7606296z" fill-rule="evenodd"></path></g></g></g></svg>
    </div>

    <div class="star star_3">
      <svg fill="currentColor" id="fi_15219414" enable-background="new 0 0 100 100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g><g transform="matrix(.957 0 0 .957 15.652 11.478)"><g><path clip-rule="evenodd" d="m34.669548-8.4613094c.1628304-.5473452.6672783-.9250927 1.2395058-.9250927s1.0766754.3777475 1.2395058.9250927c0 0 2.2686234 7.6043649 4.7001495 15.7606297 3.8745232 12.9943981 14.0393524 23.1591949 27.0337143 27.0337181 8.1562347 2.4315262 15.7605972 4.7001457 15.7605972 4.7001457.5473785.1628342.9250946.6672783.9250946 1.2395096 0 .5722275-.3777161 1.0766716-.9250946 1.2395058 0 0-7.6043625 2.2686234-15.7605972 4.7001495-12.9943619 3.8745193-23.1591911 14.0393524-27.0337143 27.0337143-2.4315262 8.1562347-4.7001495 15.7605972-4.7001495 15.7605972-.1628304.5473785-.6672783.9250946-1.2395058.9250946s-1.0766754-.3777161-1.2395058-.9250946c0 0-2.2686234-7.6043625-4.7001495-15.7605972-3.8745213-12.9943619-14.0393543-23.159195-27.033716-27.0337144-8.1562309-2.4315262-15.7605953-4.7001495-15.7605953-4.7001495-.5473795-.1628342-.9250927-.6672783-.9250927-1.2395058 0-.5722313.3777132-1.0766754.9250927-1.2395096 0 0 7.6043644-2.2686195 15.7605953-4.7001457 12.9943619-3.8745232 23.1591969-14.03932 27.0337162-27.0337181 2.431526-8.1562649 4.7001493-15.7606296 4.7001493-15.7606296z" fill-rule="evenodd"></path></g></g></g></svg>
    </div>

    <svg viewBox="0 0 16 16" class="cloud_1 cloud">
      <path
        transform="matrix(.77976 0 0 .78395-299.99-418.63)"
        fill="#fff"
        d="m391.84 540.91c-.421-.329-.949-.524-1.523-.524-1.351 0-2.451 1.084-2.485 2.435-1.395.526-2.388 1.88-2.388 3.466 0 1.874 1.385 3.423 3.182 3.667v.034h12.73v-.006c1.775-.104 3.182-1.584 3.182-3.395 0-1.747-1.309-3.186-2.994-3.379.007-.106.011-.214.011-.322 0-2.707-2.271-4.901-5.072-4.901-2.073 0-3.856 1.202-4.643 2.925"
      ></path>
    </svg>
  </span>
</label>

<style>
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.7em;
  height: 1.5em;
  border-radius: 1.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00a6ff; /* light mode */
  transition: 0.4s;
  border-radius: 1.2em;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  left: 0.34em;
  bottom: 0.34em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 10px -3px 0px 10px #ffcf48; /* sun */
}

.switch input:checked + .slider {
  background-color: #2a2a2a; /* dark mode */
}

.switch input:checked + .slider:before {
  transform: translateX(1.2em);
  box-shadow: inset 5px -3px 0px 0px #fff; /* moon */
}

.star {
  color: #FFF;
  position: absolute;
  transition: all 0.4s;
  opacity: 0;
}

.star_1 {
  left: 0.7em;
  top: 0.3em;
  width: 6px;
  height: 6px;
}

.star_2 {
  left: 0.2em;
  top: 0.5em;
  width: 8px;
  height: 8px;
}

.star_3 {
  left: 0.7em;
  top: 0.8em;
  width: 7px;
  height: 7px;
}

.switch input:checked ~ .slider .star {
  opacity: 1; /* show stars in dark mode */
}

.cloud {
  width: 2.4em;
  position: absolute;
  bottom: -0.95em;
  left: 1.1em;
  opacity: 1; /* visible in light mode */
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 0; /* hidden in dark mode */
}
</style>