---
interface Link {
    path: string;
    text: string;
}

interface Props {
    links: Link[];
}

const { links } = Astro.props;
---
<div class="navigation-menu">
    {
        links.map(({ path, text }) => (
            <a href={path}>{text}</a>
        ))
    }
</div>

<style>
    .navigation-menu {
        background-color: red;
        padding: 2rem;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    
    .navigation-menu a {
        color: #FFF;
    }
</style>