---
import Code from "../icons/Code.astro";
import Editing from "../icons/Editing.astro";
import Maintenance from "../icons/Maintenance.astro";
import WorldWideWeb from "../icons/WorldWideWeb.astro";
import Server from "../icons/Server.astro";
import GoogleBusiness from "../icons/GoogleBusiness.astro";
import GoogleAnalytics from "../icons/GoogleAnalytics.astro";
import Stripe from "../icons/Stripe.astro";

interface Props {
  icon?: string;
  feature: string;
  description: string;
}

const { icon, feature, description } = Astro.props as Props;

// Map identifiers to actual icon components
const iconMap: Record<string, any> = {
  Code,
  Editing,
  Maintenance,
  WorldWideWeb,
  Server,
  GoogleBusiness,
  GoogleAnalytics,
  Stripe
};

// Get the icon component from the map:
const IconComponent = icon ? iconMap[icon] : null;
---
<div class="relative pl-16">
  <dt class="text-base/7 font-semibold text-text">
    <div class="absolute top-0 left-0 p-2 flex size-10 items-center justify-center rounded-lg bg-accent">
      <IconComponent fill="#F0FDFA"/>
    </div>
    {feature}
  </dt>
  <dd class="mt-2 text-base/7 text-gray-400">
    {description}
  </dd>
</div>