---
interface Props {
    toggleName: string;
    text: string;
}

const { toggleName, text } = Astro.props as Props;
---
<div class="mt-2">
    <input type="checkbox" id={toggleName} name={toggleName} class="hidden peer">
    <p class="mb-2 max-h-18 overflow-hidden peer-checked:max-h-fit">
        { text }
    </p>

    <label for={toggleName} class="text-gray-700 underline cursor-pointer peer-checked:hidden">Read more +</label>
    <label for={toggleName} class="hidden text-gray-700 underline cursor-pointer peer-checked:inline-block">Read less -</label>
</div>