---
import Button1 from "../../src/components/buttons/Button1.astro";
import Phone from "../components/icons/Phone.astro";
---

<section class="background mx-auto max-w-7xl flex flex-col items-center justify-center text-left py-28 rounded-xl">
    <h1 class="text-background text-4xl font-semibold lg:text-5xl">Ready to get started?</h1>
    <p class="text-text mt-4 lg:text-3xl">Let's set a time to go over your digital plan.</p>

    <Button1 css="before:bg-[#1E1E1E] w-full mt-8 px-3.5 py-2.5 text-center font-semibold sm:mt-10 md:w-1/2 lg:w-1/4 sm:px-8 sm:py-5" href="/" bg="bg-[#EAEAEA]" color="text-[#EAEAEA]" borderRadius="rounded-md">
        <Phone width="1.5rem" height="1.5rem" /> Schedule a call  
    </Button1>

</section>

<style>
    .background {
        background-image: url("/src/assets/cta-bg-green.svg");
    }
</style>