---
---
<section class="py-8 grid grid-cols-1 gap-8">
    <h2 class="text-text text-4xl font-semibold">
        Small Business Web Development
    </h2>

    <p class="text-text">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.
        Elit sunt amet fugiat veniam occaecat fugiat aliqua. Anim aute id magna aliqua ad ad non deserunt sunt.
    </p>

    <a href="" class="bg-accent text-text px-3 py-2">Get started</a>
</section>