---
import DiamondCheck from '../components/icons/DiamondCheck.astro';

interface Feature {
  title: string;
  description: string;
}

const features: Feature[] = [
  {
    title: "Based in the United States.",
    description:
      "Working out of Southern California, our experts deliver personalized, industry-leading web solutions that keep your business ahead—without you lifting a finger."
  },
  {
    title: "Unrivaled Customer Support.",
    description:
      "Our dedicated 24/7 support team ensures your site runs flawlessly—even in emergencies—so you never have to worry about technical issues."
  },
  {
    "title": "Opt-Out Assurance.",
    "description": "Once your website goes live, we offer a 30-day trial and your total spend is capped at the cost of your first month. Experience our hands-free service with minimal commitment."
  },

  //   {
//     title: "Mobile First Design",
//     description:
//       "Every site is built with a mobile-first approach, guaranteeing a responsive and engaging user experience on smartphones, tablets, and desktops."
//   },
//   {
//     title: "Optimized Page Speed",
//     description:
//       "Boost your SEO and conversion rates with our speed-optimized websites. We fine-tune every detail to deliver lightning-fast load times and superior performance."
//   },
];
---
<section>
<div class="overflow-hidden bg-background py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg">
          <h2 class="text-base/7 font-semibold text-accent">Why Work With Us?</h2>
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-text sm:text-5xl">
            Get Piece of Mind and Unmatched Support
          </p>
          <p class="mt-6 text-lg/8 text-muted">
            Our full-service web design and development agency makes managing your online presence effortless. We take care of every detail—from UI/UX design, to coding and development, and ongoing maintenance and support—allowing you to concentrate on growing your business.
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-muted lg:max-w-none">
              {
                features.map(({ title, description }) => (
                  <div class="relative pl-12">
                    <dt class="inline font-semibold text-text">
                      <span class="absolute top-1 left-2 h-5 w-5">
                        <DiamondCheck width="2rem" height="2rem" squareFill="#FEFCE8" strokeColor="#D4AF37" />
                      </span>
                      {title}
                    </dt>
                    <dd class="inline">
                      {description}
                    </dd>
                  </div>
                ))
              }
          </dl>
        </div>
      </div>
      <img src="/src/assets/small_business.jpg" alt="Product screenshot" class="w-3xl max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-228 md:-ml-4 lg:-ml-0" width="2432" height="1442">
    </div>
  </div>
</div>
</section>